<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</head>
<body>
<div class="alert alert-primary" role="alert">
    A simple primary alert with <a href="/create-employee" class="alert-link">Create new employee</a>. Give it a click if you like.
</div>
<h1>My Big Family</h1>
<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>

<br/>
<table border="1" class="table table-striped" >
    <tr>
        <th class="table-primary">Employee Code</th>
        <th class="table-primary">First Name</th>
        <th class="table-primary">Age</th>
        <th class="table-primary">Salary</th>
        <th class="table-primary">Branch</th>
        <th class="table-primary">Edit</th>
        <th class="table-primary">Delete</th>
    </tr>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td class="table-danger" th:text="${employee.code}"></td>
            <td class="table-danger" th:text="${employee.firstName}"></td>
            <td class="table-danger" th:text="${employee.age}"></td>
            <td class="table-danger" th:text="${employee.salary}"></td>
            <td class="table-danger" th:if="${employee.branch}" th:text="${employee.branch.name}"></td>
<!--            <td class="table-danger" th:unless="${customer.province}"></td>-->
            <td class="table-danger" ><a th:href="@{/edit-employee/__${employee.id}__ }">Edit</a></td>
            <td class="table-danger"><a th:href="@{/delete-employee/__${employee.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<!--<div>-->
<!--    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>-->
<!--    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>-->
<!--</div>-->
<!--<span th:text="${customers.number }"> t</span>-->
<!--<nav aria-label="Page navigation example">-->
<!--    <ul class="pagination">-->
<!--        <li class="page-item"><a class="page-link" th:if="${customers.hasPrevious()}" th:href="@{'/customers'(page=${customers.number - 1})}" >Previous</a></li>-->
<!--        <li class="page-item"><a class="page-link" th:text="${customers.number + 1}">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" th:text="${customers.number + 2}">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" th:text="${customers.number + 3}">3</a></li>-->
<!--        <li class="page-item"><a class="page-link" th:if="${customers.hasNext()}" th:href="@{'/customers'(page=${customers.number + 1})}" >Next</a></li>-->
<!--    </ul>-->
<!--</nav>-->
<!--<table>-->
<!--    ...-->
<!--    <tbody>-->
<!--    <tr th:each="customer,state:${customerPage.content}" >-->
<!--        <td th:text="${customerPage.size*(customerPage.number)+(state.index+1)}">1</td>-->
<!--        <td>-->
<!--            <a th:href="@{/edit/{id}(id=${customers.id})}" th:text="${customers.firstName}">SpringBoot - Web Back End</a>-->
<!--        </td>-->
<!--        <td th:text="${course.type}"-->
<!--            th:classappend="${customers.type=='onlab'?'text-info':'text-warning'}">onlab</td>-->
<!--        <td th:text="${#strings.listJoin(customers.topics, ', ')}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<nav aria-label="Page navigation example">-->
<!--    <ul class="pagination justify-content-center pagination-sm">-->
<!--        <li  th:if="${coursePage.totalPages > 0}" class="page-link"-->
<!--             th:each="pageNumber : ${pageNumbers}">-->
<!--            <a th:href="@{/(size=${coursePage.size}, page=${pageNumber})}"-->
<!--               th:text=${pageNumber}-->
<!--               th:class="${pageNumber==customerPage.number + 1} ? active"-->
<!--               class="page-link"-->
<!--            ></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->





<!--<table border="1">-->
<!--    <tbody>-->
<!--    <tr th:each="employee, iStat : ${employeePage.content}">-->
<!--       <td scope="row"></td>-->
<!--        <td th:text="${employee.firstName}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<div class="card-footer text-muted">-->
<!--    <form action="">-->
<!--        <div class="form-inline float-left">-->
<!--            <label name="size">Page size:</label>-->
<!--            <select name="size" id="size" class="form-controller"-->
<!--                onchange="this.form.submit()">-->
<!--                <option th:selected="${employeePage.size==3}" value="3">3</option>-->
<!--                <option th:selected="${employeePage.size==6}" value="6">6</option>-->
<!--                <option th:selected="${employeePage.size==9}" value="9">9</option>-->
<!--                <option th:selected="${employeePage.size==3}" value="12">12</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </form>-->

<!--    <nav aria-label="Page navigation"-->
<!--    th:if="${customerPage.totalPages > 0}">-->
<!--        <ul class="pagination justify-content-center">-->
<!--            <li th:class="${1==customerPage.number+1}?'page-item active' :'page-item">-->
<!--                <a th:href="@{/views/customer/list(name=${firstName}, size=${customerPage.size}, page=${1})}"-->
<!--                class="page-link">First</a>-->
<!--            </li>-->
<!--            <li class="page-item active"-->
<!--            th:each="pageNumber:${pageNumbers}"-->
<!--            th:if="${customerPage.totalPages>1}"-->
<!--            th:class="${pageNumber==customerPage.number + 1} ?'page-item active':'page-item'">-->
<!--                <a th:href="@{/views/customer/list(name=${firstName}, size=${customerPage.size}, page=${pageNumber})}"-->
<!--                   class="page-link"-->
<!--                th:text="${pageNumber}"></a>-->
<!--            </li>-->
<!--            <li th:class="${customerPage.totalPages==customerPage.number+1}?'page-item active' :'page-item">-->
<!--                <a th:href="@{/views/customer/list(name=${firstName}, size=${customerPage.size}, page=${customerPage.totalPages})}"-->
<!--                   class="page-link">Last</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->

</body>
</html>

