<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Branch</title>
</head>
<body>
<h1>Delete Branch</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/branches">Branch list</a>
</p>
<form th:action="@{/delete-branch}" th:object="${branch}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${branch.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete province"></td>
        </tr>
    </table>
</form>
</body>
</html>
